@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.window {
    border: solid;
    width: fit-content;
    border-radius: 16px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-bar {
    font-family: 'Space Grotesk', sans-serif;
    position: sticky;
    top: 20px;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 0 20px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.01);
    color: #101212;

    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.top-bar p:first-child {
    justify-self: start;
}

.top-bar h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.top-bar p:last-child {
    justify-self: end;
}